# Python Review : 함수3

## <span style="color:brown"> 람다함수 및 내장함수 </span>
> - 함수 정의와 호출
- 변수의 유효 범위
- 람다(lambda) 함수
- 유용한 내장 함수

## <span style="color:blue"> 함수 정의와 호출 </span>

### 함수의 기본 구조

### 인자도 반환 값도 없는 함수

In [1]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [2]:
my_func()

My first function!
This is a function.

### 인자는 있으나 반환 값이 없는 함수

In [3]:
def my_friend(friendName):
    print("{}는(은) 나의 친구입니다.".format(friendName))

my_friend("진수")
my_friend("희영")

진수는(은) 나의 친구입니다.
희영는(은) 나의 친구입니다.

In [4]:
def my_student_info(name, school_ID, phoneNumber):
    print("------------------------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

my_student_info("진수", "01", "010-5670-3847")
my_student_info("희영", "02", "010-1234-5678")

------------------------
- 학생이름: 진수
- 학급번호: 01
- 전화번호: 010-5670-3847
------------------------
- 학생이름: 희영
- 학급번호: 02
- 전화번호: 010-1234-5678

In [5]:
def my_student_info(name, school_ID,  phoneNumber):
    print("****************************")
    print("* 학생이름:", name)
    print("* 학급번호:", school_ID)
    print("* 전화번호:", phoneNumber)
    
my_student_info("진수", "01", "010-5670-3847")
my_student_info("희영", "02", "010-1234-5678")

****************************
* 학생이름: 진수
* 학급번호: 01
* 전화번호: 010-5670-3847
****************************
* 학생이름: 희영
* 학급번호: 02
* 전화번호: 010-1234-5678

### 인자도 있고 반환 값도 있는 함수

In [6]:
def my_calc(x,y):
    z = x*y
    return z

my_calc(3,4)

12

In [8]:
def my_student_info_list(student_info):
    print("****************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("****************************")
    
student1_info = ["찬영", "01", "010-2345-6789"]
print(my_student_info_list(student1_info))
print(my_student_info_list(["준영", "02", "010-2345-9876"]))

****************************
* 학생이름: 찬영
* 학급번호: 01
* 전화번호: 010-2345-6789
****************************
None
****************************
* 학생이름: 준영
* 학급번호: 02
* 전화번호: 010-2345-9876
****************************
None

## <span style="color:blue"> 변수의 유효 범위 </span>

In [9]:
a = 5

def func1():
    a = 1
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2
    print("[func2] 지역 변수 a =", a)  
    
def func3():
    print("[func3] 전역 변수 a =", a)   
    
def func4():
    global a
    a = 4 
    print("[func4] 전역 변수 a =",a)
func1()
func2()
print("전역 변수 a =", a) 
print()

func3()
func4()
func3()

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a = 5

[func3] 전역 변수 a = 5
[func4] 전역 변수 a = 4
[func3] 전역 변수 a = 4

## <span style="color:blue"> 람다(lambda) 함수 </span>

In [11]:
print((lambda x : x**2) (3))

mySquare = lambda x : x**2
print(mySquare(2))
print(mySquare(5))

mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
print(mySimpleFunc(1,2,3))

func = lambda x,y : x**2 + 2*y
print((func(2, 3), func(3, 2)))

9
4
25
11
(10, 13)

## <span style="color:blue"> 유용한 내장 함수 </span>

### 형 변환 함수

#### 정수형으로 변환

In [13]:
print([int(0.123), int(3.5123456), int(-1.312367)])
print([int('1234'), int('5678'), int('-9012')])

[0, 3, -1]
[1234, 5678, -9012]

#### 실수형으로 변환

In [14]:
print([float(0), float(123), float(-567)])
print([float('10'), float('0.123'), float('-567.89')])

[0.0, 123.0, -567.0]
[10.0, 0.123, -567.89]

#### 문자형으로 변환

In [15]:
print([str(123), str(459678), str(-987)])
print([str(0.123), str(345.678), str(-5.987)])

['123', '459678', '-987']
['0.123', '345.678', '-5.987']

#### 리스트, 튜플, 세트형으로 변환

In [16]:
list_data  = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data   = {'abc', 1, 2, 'def'}

print([type(list_data), type(tuple_data), type(set_data)])
print("리스트로 변환: ", list(tuple_data), list(set_data))
print("튜플로 변환:", tuple(list_data), tuple(set_data))
print("세트로 변환:", set(list_data), set(tuple_data))

[<class 'list'>, <class 'tuple'>, <class 'set'>]
리스트로 변환:  ['abc', 1, 2, 'def'] [1, 2, 'abc', 'def']
튜플로 변환: ('abc', 1, 2, 'def') (1, 2, 'abc', 'def')
세트로 변환: {1, 2, 'abc', 'def'} {1, 2, 'abc', 'def'}

### bool 함수

#### 숫자를 인자로 bool 함수 호출

In [17]:
print(bool(0))
print(bool(1))
print(bool(-10))
print(bool(5.12))
print(bool(-3.26))

False
True
True
True
True

#### 문자열을 인자로 bool 함수 호출

In [19]:
print(bool('a'))
print(bool(' '))
print(bool(''))

True
True
False

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [20]:
myFriends = []
print(bool(myFriends))

myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(bool(myFriends))

myNum = ()
print(bool(myNum))

myNum = (1,2,3)
print(bool(myNum))

mySetA = {}
print(bool(mySetA))

mySetA = {10,20,30}
print(bool(mySetA))

False
True
False
True
False
True

#### bool 함수의 활용

In [22]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")
        
print_name("진수")
print_name("")

입력된 이름: 진수
입력된 이름이 없습니다.

### 최소값과 최대값을 구하는 함수

In [23]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
print([min(myNum), max(myNum)])

myStr = 'zxyabc'
print([min(myStr), max(myStr)])

myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
print([min(myNum), max(myNum)])

myNum = {"Abc", "abc", "bcd", "efg"}
print([min(myNum), max(myNum)])

[0, 99.5]
['a', 'z']
[0, 99.5]
['Abc', 'efg']

### 절대값과 전체 합을 구하는 함수

In [24]:
print([abs(10), abs(-10)])
print([abs(2.45), abs(-2.45)])

sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(sum(sumList))

[10, 10]
[2.45, 2.45]
55

### 항목의 개수를 구하는 함수

In [25]:
print(len("ab cd"))
print(len([1, 2, 3, 4, 5, 6, 7, 8]))
print(len((1, 2, 3, 4, 5)))
print(len({'a', 'b', 'c', 'd'}))
print(len({1:"Thomas", 2:"Edward", 3:"Henry"}))

5
8
5
4
3

### 내장 함수의 활용

In [26]:
scores = [90, 80, 95, 85]

score_sum = 0                    
subject_num = 0                  
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
    
average = score_sum / subject_num

print("총점:{0}, 평균:{1}".format(score_sum,average))

scores = [90, 80, 95, 85]

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

총점:350, 평균:87.5
총점:350, 평균:87.5
최하 점수:80, 최고 점수:95